* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    line-height: 1.7em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    text-decoration: none;
}

/* utility */

.container {
    margin: auto;
    max-width: 1100px;
    padding: 0 20px;
    overflow: auto;
}

.bg-light {
    color: #fff;
} 

.clr {
    clear: both;
}

.btn {
    display: inline-block;
    margin: 0 auto;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    color: #fff;
}

.m-down-30 {
    margin-top: 30px;

}

.m-down-10 {
    margin-top: 10px;

}

.space-under-e {
    margin-bottom: 30px;
}

.text-primary {
    color: #f7c08a;
}

.move-center {
    width: 100% ;
    text-align: center;
}

.btn:hover {
    background: #f7c08a;
    color: #444;
}
/* the nav */

#myhead .thenav {
    background: #333;
    width: 100%;
    overflow: auto;
    text-align: center;
}

#myhead .thenav .nav-container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 20px;
}

#myhead .thenav .nav-title {
    float: left;
}

#myhead .thenav .nav-items .nav-item a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    
}

#myhead .thenav .nav-items {
    float: right;
}

#myhead .thenav .nav-items .nav-item {
    float: left;
    display: block;
}

#myhead .thenav .nav-items .nav-item a:hover,
#myhead .thenav .nav-items .nav-item .current {
    background: #444;
    color: #f7c08a;
}

#myhead .thenav .nav-container .nav-title {
    margin-top: 20px;
    color: #fff;
}

/* main section */

#main {
    background: url(../img/showcase.jpg) no-repeat center center/cover;
    min-height: 600px;
}


#main .main-title {
    padding-top: 190px;
    font-size: 60px;
    color: #fff;
    padding-bottom: 20px;
    text-align: center;
}

#main .main-text {
    text-align: center;
    padding-top: 20px;
    color: #fff;
    font-size: 20px;
    line-height: 1.8em;
}

/* mid section */

#mid {
    height: 400px;
}

#mid .left-pic {
    float: left;
    background: url(../img/photo-1.jpg) no-repeat;
    width: 50%;
    min-height: 100%;
}

#mid .right-text {
    float: right;
    height: 100%;
    width: 50%;
    background: #333;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

#mid .right-text h3 {
    margin-top: 45px;
    font-size: 1.5em;
}

#mid .right-text p {
    margin: 30px;
}

#mid .right-text a {
    margin-top: 10px;
}

#mid .right-text .btn.btn-white {
    background: #fff;
    color: #333;
}

#mid .right-text .btn.btn-white:hover {
    background: #f7c08a;
}

/* bottom */

.box {
    width: 33.3%;
    float: left;
    text-align: center;
    padding: 50px;
}

.box i {
    margin-bottom: 10px;
}

.box.primary-bg {
    background: #f7c08a;
}

/* about */

#about-top {
    height: 320px;
}

#about-top .about-left {
    float: left;
    width: 50%;
    padding-left: 20px;
    padding-top: 20px;
}

#about-top .about-left p {
    margin: 10px 0;
}

#about-top .top-title {
    color: #333;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 5px;
}

#about-top .about-right {
    float: right;
    width: 50%;
}

#about-top .about-right img{
    display: block;
    min-height: 100%;
    width: 70%;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 50px;
    padding: 10px;
}

#about-bottom {
    height: 600px;
    background: url(../img/test-bg.jpg) no-repeat center center/cover;
    padding-top: 100px;
}

#about-bottom .about-bottom-title {
    text-align: center;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    padding-bottom: 40px;
}

.cart {
    margin-bottom: 40px;
    background: #f7c08a;
    border-radius: 5px;
    padding: 20px;
    opacity: 0.9;
}

.cart img{
    float: left;
    width: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

/* contact us */

#contact-form form label,
#contact-form form input,
#contact-form form textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
}

#contact-form form input,
#contact-form form textarea {
    border: 1px #ddd solid;
    padding: 10px;
    margin-bottom: 20px;
}

.input:focus {
    outline-color: #f7c08a;
}

#contact-form .container h1 {
    font-size: 40px;
    margin: 20px 0;
}

#contact-form form textarea {
    height: 200px;
}

.btn.p-20 {
    padding: 15px 30px;
    font-size: 20px;
}

#bottom {
    color: #fff;
}

#bottom.bg-dark {
    background: #333;
}


/* footer */

#footer {
    padding: 20px;
    background: #444;
    color: #fff;
    text-align: center;
}