* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    line-height: 1.7em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    text-decoration: none;
}

/* utility */

.container {
    margin: auto;
    max-width: 1100px;
    padding: 0 20px;
    overflow: auto;
}


.clr {
    clear: both;
}

.btn {
    display: inline-block;
    margin: 0 auto;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    color: #fff;
}

.m-down-30 {
    /* moves the element down */
    margin-top: 30px;

}

.m-down-10 {
    /* moves the element down */
    margin-top: 10px;

}

.text-primary {
    color: #f7c08a;
}

.move-center {
    width: 100% ;
    text-align: center;
}

.btn:hover {
    background: #f7c08a;
    color: #444;
}
/* the nav */

#myhead .thenav {
    background: #333;
    width: 100%;
    overflow: auto;
    text-align: center;
}

#myhead .thenav .nav-container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 20px;
}

#myhead .thenav .nav-title {
    float: left;
}

#myhead .thenav .nav-items .nav-item a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    
}

#myhead .thenav .nav-items {
    float: right;
}

#myhead .thenav .nav-items .nav-item {
    float: left;
    display: block;
}

#myhead .thenav .nav-items .nav-item a:hover,
#myhead .thenav .nav-items .nav-item .current {
    background: #444;
    color: #f7c08a;
}

#myhead .thenav .nav-container .nav-title {
    margin-top: 20px;
    color: #fff;
}

/* main section */

#main {
    background: url(../img/showcase.jpg) no-repeat center center/cover;
    min-height: 600px;
}


#main .main-title {
    padding-top: 190px;
    font-size: 60px;
    color: #fff;
    padding-bottom: 20px;
    text-align: center;
}

#main .main-text {
    text-align: center;
    padding-top: 20px;
    color: #fff;
    font-size: 20px;
    line-height: 1.8em;
}

/* mid section */

#mid {
    height: 400px;
}

#mid .left-pic {
    float: left;
    background: url(../img/photo-1.jpg) no-repeat;
    width: 50%;
    min-height: 100%;
}

#mid .right-text {
    float: right;
    min-height: 100%;
    width: 50%;
    background: #333;
    color: #fff;
    text-align: center;
}

#mid .right-text h3 {
    margin-top: 45px;
    font-size: 1.5em;
}

#mid .right-text p {
    margin: 30px;
}

#mid .right-text a {
    margin-top: 10px;
}

#mid .right-text .btn.btn-white {
    background: #fff;
    color: #333;
}

#mid .right-text .btn.btn-white:hover {
    background: #f7c08a;
}

/* buttom */

.box {
    width: 33.3%;
    display: inline;
    float: left;
    background: #fff;
    height: 300px;
    text-align: center;
    padding: 40px;
}

.box h3 {
    padding: 20px 0;
}

.box.primary-bg {
    background: #f7c08a;
}

/* about */

#about-top {
    height: 320px;
}

#about-top .about-left {
    float: left;
    width: 50%;
    padding-left: 20px;
    padding-top: 20px;
}

#about-top .about-left p {
    margin: 10px 0;
}

#about-top .top-title {
    color: #333;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 5px;
}

#about-top .about-right {
    float: right;
    width: 50%;
}

#about-top .about-right img{
    display: block;
    min-height: 100%;
    width: 70%;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 50px;
    padding: 10px;
}


/* footer */

#footer {
    width: 100%;
    height: 90px;
    background: #333;
    color: #fff;
    text-align: center;
}

#footer p {
    padding-top: 30px;
}