* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    line-height: 1.7em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    text-decoration: none;
}

/* utility */

.container {
    margin: auto;
    max-width: 1100px;
    padding: 0 20px;
    overflow: auto;
}

.btn {
    display: inline-block;
    margin: 0 auto;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    color: #fff;
}

.m-down-30 {
    /* moves the element down */
    margin-top: 30px;

}

.m-down-10 {
    /* moves the element down */
    margin-top: 10px;

}

.text-primary {
    color: #f7c08a;
}

.move-center {
    width: 100% ;
    text-align: center;
}

.btn:hover {
    background: #f7c08a;
    color: #444;
}
/* the nav */

#myhead .thenav {
    background: #333;
    width: 100%;
    overflow: auto;
    text-align: center;
}

#myhead .thenav .nav-container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 20px;
}

#myhead .thenav .nav-title {
    float: left;
}

#myhead .thenav .nav-items .nav-item a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    
}

#myhead .thenav .nav-items {
    float: right;
}

#myhead .thenav .nav-items .nav-item {
    float: left;
    display: block;
}

#myhead .thenav .nav-items .nav-item a:hover,
#myhead .thenav .nav-items .nav-item .current {
    background: #444;
    color: #f7c08a;
}

#myhead .thenav .nav-container .nav-title {
    margin-top: 20px;
    color: #fff;
}

/* main section */

#main {
    background: url(../img/showcase.jpg) no-repeat center center/cover;
    min-height: 600px;
}


#main .main-title {
    padding-top: 190px;
    font-size: 60px;
    color: #fff;
    padding-bottom: 20px;
    text-align: center;
}

#main .main-text {
    text-align: center;
    padding-top: 20px;
    color: #fff;
    font-size: 20px;
    line-height: 1.8em;
}

