@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.7;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* navbar */


#head {
    background: url(../image/home/showcase.jpg) no-repeat center center/cover;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#head::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
}

#head .flexbox h1.logo {
    font-weight: 400;
}


#head .flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    background: #333;
    opacity: 0.7;
    padding: 12px 20px;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.flexbox ul {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}


.flexbox ul li a {
    display: block;
    padding: 10px 20px;
    margin: 0 5px;
    color: #fff;
}

.flexbox ul li a:hover {
    border-bottom: #28a745 2px solid;
    margin-bottom: -2px;
}

/* intro */

.intro {
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 20px;
    top: 0;
    width: 100%;
}

.intro * {
    z-index: 1;
}

.intro p {
    padding: 20px;
}

.intro h1 {
    font-size: 55px;
}

.intro p {
    font-size: 23px;
}

.intro a {
    color: #fff;
}

/* ----------------------- about ---------------------- */


.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.about-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.about-item i {
    padding: 20px 0;
    color: #fff;
}

.about-item i::before {
    background: #28a745;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 15px;
}


/* ------------------- solutions ------------------- */


.solutions {
    display: flex;
}

.solutions > div {
    width: 50%;
    /* flex: 1; */
}

.solutions > div img {
    height: 100%;
    /* object-fit: cover; */
}

.solutions .solution {
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #28a745;
    color: #fff;
    padding: 10px 30px;
}

.solutions .solution h3 {
    font-size: 40px;
    line-height: 1.2;
    font-weight: normal;
    margin: 5px 0;
}

.solutions .solution a {
    border: 1px solid #fff;
    color: #fff;
    margin: 15px;
}


/* ---------- cases ------ */

#cases {
    padding: 20px 20px 40px;
}

.case-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}


#cases p:first-of-type {
    font-weight: bold;
}

#cases h3 {
    font-size: 40px;
    font-weight: 300;
    margin: 5px 0;
}

.images {
    display: flex;
    flex-wrap: wrap;
    padding: 0 40px;
}

.image {
    flex: 25%;
    max-width: 25%;
}

/* #cases .images .image {
    height: 100px;
    width: 100px;
}
*/
#cases .images .image img {
    width: 100%;
    /* vertical-align: middle; */
    padding: 0 4px;
}

/* ------------ blog ---------- */

.column .mytext {
    width: 50%;
    background: #0284d0;
    color: #fff;
    padding: 0 20px;
}

.column .myimg {
    width: 50%;
}

.column .myimg img {
    height: 100%;
}

.column h3 {
    font-size: 40px;
    font-weight: 300;
}

.column a {
    margin: 10px 0;
}


/*-------- team ------------*/

#team .column-1 .column img {
    border-radius: 50%;
    padding: 20px;
}

#team p {
    text-align: center;
}


/* ------- contact ------- */

#contact img {
    object-fit: cover;
}

.myform {
    width: 50%;
    text-align: center;
    padding: 30px;
}



form input {
    padding: 10px 40px 10px 5px;
    margin: 10px;
    outline-color: #28a745;
    border: none;
    width: 100%;
    height: 40px;
}

form button {
    margin: 15px 10px;
    width: 100%;
    height: 40px;
    border: none;
    background: #28a745;
    color: #fff;
    border-radius: 5px;
}


/* ---------- footer ----- */

footer {
    display: flex;
    background: #333;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 200px;
}

footer .social a {
    color: #fff;
    margin: 5px;
}

footer .social a:hover {
    color: #28a745;
}

/* media query */

@media only screen and (max-width: 700px){
    #head .flexbox {
        flex-direction: column;
    }

    .flexbox ul li a {

        padding: 10px 10px;
        margin: 0 5px;
    }
    

    .about {
        flex-direction: column;
    }

    .solutions {
        flex-direction: column;
    }

    .solutions > div {
        width: 100%;
    }

    .solutions .solution-img {
        font-size: 0;
        line-height: 0;
    }

    .images {
        flex-direction: column;
    }
    
    .image {
        min-width: 100%;
    }

    .column {
        flex-direction: column;
    }

    #blog .column {
        flex-direction: column-reverse;
    }

    .column .mytext {
        width: 100%;
    }
    
    .column .myimg {
        width: 100%;
        font-size: 0;
        line-height: 0;
    }
    
    .myform {
        width: 100%;
    }

}